<%- include ../partials/header -%>
<%- include ../partials/nav -%>
<style>
    .tablem {
        display: table;
        border: 1px solid black;
        width: 100%;
    }
    .rowm {
        display: table-row;
        border: 1px solid black;
    }
    .cellm {
        display: table-cell;
        border: 1px solid black;
        ;
    }
</style>
<%

console.log(listPeople)
/*var listPeople = [];

var TempName = ["Kasper Gallegos","Anisa Oconnor","Anika Shah","Anisa Oconnor","Cynthia Wallis","Safah Marsh","Pablo Greene","Kirby Gentry"];
var TempResponse = ["Verified","Manual","Error"];
for(var i=0; i < TempName.length;i++)
{
    var VerificationList = {
        "Name " : TempName[i],
        "State " : "Ohio",
        "Application Id" : Math.floor((Math.random() * 100000) + 1),
        "State License": TempResponse[i%3],
        "DEA Permit" : TempResponse[(i+1)%3],
        "OIG/DHHS" : TempResponse[(i+2)%3],
        "NPDB Lookup" : TempResponse[i%3],
        "NPI Verification" : TempResponse[(i+2)%3],
        "Malpractice " : TempResponse[i%3],
        "Specialty Education Certificate" : TempResponse[(i+1)%3],
    };
    listPeople.push(VerificationList)
}
*/

const details = {name:"Jonn Doe",appId:"#10321702020",state:"Ohio"};

function returnColor(item)
{
    if (item == "Verified")
    {
        return "Green";
    }
    if (item == "Manual")
    {
        return "Orange";
    }
    if (item == "Error")
    {
        return "Red";
    }
}

 %>



<div>
    <a href = "/"><i class="fa fa-arrow-left ml-3 mt-3 " style="font-size:20px; color: #0091da;"></i></a>
</div>

<div class="container pt-5">

    <div class="row  text-center">
        <div class="card col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body text-center">
                <div class = "table-responsive">
                    <table class="table table-hover table-striped">
                        <thead style="background-color: #0091da; color: white;">
                        <tr>
                            <th scope="col">Application Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">State License</th>
                            <th scope="col">DEA Permit</th>
                            <th scope="col">OIG/DHHS</th>
                            <th scope="col">NPDB Lookup</th>
                            <th scope="col">NPI Verification</th>
                            <th scope="col">Malpractice</th>
                            <th scope="col">Specialty Certificate</th>
                            <th>Mail Template</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tbody>
                                <% for (var i = 0; i < listPeople.length; i++) { %>
                                    <tr>
                                        
                                        <td class="align-middle" >#<%= listPeople[i]["Application Id"] %></td>
                                        <td class="align-middle" ><b><%= listPeople[i]["Name "] %></b></td>
                                        
                                        <% if ((listPeople[i]["State License"]) == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["State License"]) %></b></td>
                                        <% } else if ((listPeople[i]["State License"]) == "Manual") { %>
                                            <td  class="align-middle" style="color: orange;"><b><%= (listPeople[i]["State License"]) %></b></td>
                                        <% } else if ((listPeople[i]["State License"]) == "Error") { %>
                                            <td  class="align-middle" style="color: red;"><b><%= (listPeople[i]["State License"]) %></b></td>
                                        <% } %>

                                        <% if ((listPeople[i]["DEA Permit"]) == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["DEA Permit"]) %></b></td>
                                        <% } else if ((listPeople[i]["DEA Permit"]) == "Manual") { %>
                                            <td class="align-middle" style="color: orange;"><b><%= (listPeople[i]["DEA Permit"]) %></b></td>
                                        <% } else if ((listPeople[i]["DEA Permit"]) == "Error") { %>
                                            <td class="align-middle" style="color: red;"><b><%= (listPeople[i]["DEA Permit"]) %></b></td>
                                        <% } %>

                                        <% if ((listPeople[i]["OIG/DHHS"]) == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["OIG/DHHS"]) %></b></td>
                                        <% } else if ((listPeople[i]["OIG/DHHS"]) == "Manual") { %>
                                            <td class="align-middle" style="color: orange;"><b><%= (listPeople[i]["OIG/DHHS"]) %></b></td>
                                        <% } else if ((listPeople[i]["OIG/DHHS"]) == "Error") { %>
                                            <td class="align-middle" style="color: red;"><b><%= (listPeople[i]["OIG/DHHS"]) %></b></td>
                                        <% } %>
                                         
                                        <% if ((listPeople[i]["NPDB Lookup"]) == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["NPDB Lookup"]) %></b></td>
                                        <% } else if ((listPeople[i]["NPDB Lookup"]) == "Manual") { %>
                                            <td class="align-middle" style="color: orange;"><b><%= (listPeople[i]["NPDB Lookup"]) %></b></td>
                                        <% } else if ((listPeople[i]["NPDB Lookup"]) == "Error") { %>
                                            <td class="align-middle" style="color: red;"><b><%= (listPeople[i]["NPDB Lookup"]) %></b></td>
                                        <% } %>

                                        <% if ((listPeople[i]["NPI Verification"])  == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["NPI Verification"])  %></b></td>
                                        <% } else if ((listPeople[i]["NPI Verification"])  == "Manual") { %>
                                            <td class="align-middle" style="color: orange;"><b><%= (listPeople[i]["NPI Verification"])  %></b></td>
                                        <% } else if ((listPeople[i]["NPI Verification"])  == "Error") { %>
                                            <td class="align-middle" style="color: red;"><b><%= (listPeople[i]["NPI Verification"])  %></b></td>
                                        <% } %>

                                        <% if ((listPeople[i]["Malpractice "])   == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["Malpractice "])   %></b></td>
                                        <% } else if ((listPeople[i]["Malpractice "])   == "Manual") { %>
                                            <td class="align-middle" style="color: orange;"><b><%= (listPeople[i]["Malpractice "])   %></b></td>
                                        <% } else if ((listPeople[i]["Malpractice "])  == "Error") { %>
                                            <td class="align-middle" style="color: red;"><b><%= (listPeople[i]["Malpractice "])   %></b></td>
                                        <% } %>

                                        <% if ((listPeople[i]["Specialty Education Certificate"])  == "Verified"){ %>
                                            <td class="align-middle" style="color: green;"><b><%= (listPeople[i]["Specialty Education Certificate"])  %></b></td>
                                        <% } else if ((listPeople[i]["Specialty Education Certificate"])  == "Manual") { %>
                                            <td class="align-middle" style="color: orange;"><b><%= (listPeople[i]["Specialty Education Certificate"])   %></b></td>
                                        <% } else if ((listPeople[i]["Specialty Education Certificate"]) == "Error") { %>
                                            <td class="align-middle" style="color: red;"><b><%= (listPeople[i]["Specialty Education Certificate"])   %></b></td>
                                        <% } %>
                                        <td><button class="btn btn-primary" data-toggle="modal" data-target="#mailModal">Generate</button></td>
                                        <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="mailModalLabel">Mail Template</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div id="tableId" class="tablem">
                                                            <div class="rowm">
                                                                <div class="cellm">1. Complete App Recd:</div>
                                                                <div class="cellm">Date Clean App Received or n/a for Add’l Loc request</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">2. Provider NPI:</div>
                                                                <div class="cellm">Individual</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">3. Provider Gender:</div>
                                                                <div class="cellm">M/F</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">4. Location(s) email(s):</div>
                                                                <div class="cellm">M/F</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">5. Directory Address(es)/TIN(s):</div>
                                                                <div class="cellm">TIN:    Address:</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">6. Claims:</div>
                                                                <div class="cellm">TIN ADDRESSES for claims only (possible see roster)</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">7. Dir opt-out flag:</div>
                                                                <div class="cellm">No – system sends letter / Yes – Yes – LgGrp manages mass compliance notices</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">8. Effective Date:</div>
                                                                <div class="cellm">Date of Entry or Doc future start date</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">9. Payee Address:</div>
                                                                <div class="cellm">NPI 2:    Address:</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">10. Network/Fee Sched:</div>
                                                                <div class="cellm">Example: 37601-204</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">11. Contract ID:</div>
                                                                <div class="cellm">Example: 4</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">12. Agreement:</div>
                                                                <div class="cellm">IndAgreeAttached, GrpAgreeAttached, or GrpAgreeOnFile</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">13. Execute Agreement:</div>
                                                                <div class="cellm">Yes/No</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">14. Welcome Kit:</div>
                                                                <div class="cellm">Yes/No</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">15. Corresp email:</div>
                                                                <div class="cellm"></div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">16. Handicap Accessible:</div>
                                                                <div class="cellm">Yes/No</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">17. Other Information:</div>
                                                                <div class="cellm">Additional notes (Example: DEA pending)</div>
                                                            </div>
                                                            <div class="rowm">
                                                                <div class="cellm">
                                                                    <ol>
                                                                        <li>DSO name</li>
                                                                        <li>Doc already par with DSO</li>
                                                                    </ol>
                                                                </div>
                                                                <div class="cellm">
                                                                    <ol>
                                                                        <li>Yes/No</li>
                                                                        <li>Yes/No</li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" onclick="selectElementContents( document.getElementById('tableId'));">Copy Contents</button>
                                                        <script>
                                                            function selectElementContents(el) {
                                                                var body = document.body, range, sel;
                                                                if (document.createRange && window.getSelection) {
                                                                    range = document.createRange();
                                                                    sel = window.getSelection();
                                                                    sel.removeAllRanges();
                                                                    try {
                                                                        range.selectNodeContents(el);
                                                                        sel.addRange(range);
                                                                    } catch (e) {
                                                                        range.selectNode(el);
                                                                        sel.addRange(range);
                                                                    }
                                                                    document.execCommand("copy");

                                                                } else if (body.createTextRange) {
                                                                    range = body.createTextRange();
                                                                    range.moveToElementText(el);
                                                                    range.select();
                                                                    range.execCommand("Copy");
                                                                }
                                                            }
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                <% } %>
                            </tbody>
                        </tbody>
                    </table>
                    <hr>
                    <div>
                        <a href = "/download" role="button" class = "btn btn-primary">Download Report </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>


<%- include ../partials/footer -%>