<%- include ../partials/header -%>
<%- include ../partials/nav -%>
<%


var VerificationList = {
    'Name ': 'Kirby Gentry',
    'State ': 'Ohio',
    'Application Id': 52814,
    'State License': 'Failed',
    'DEA Permit': 'Error',
    'OIG/DHHS': 'Verified',
    'NPDB Lookup': 'Failed',
    'NPI Verification': 'Verified',
    'Malpractice ': 'Failed',
    'Specialty Education Certificate': 'Error'
  };

 %>
<body >

<div class="m-3">
<h1><%= result %> </h1>
<div class="container mt-5 p-3 card shadow-lg bg-white rounded">
    <div class="row  text-center">
        <div class="col-sm-12">
            <h1 class="font-weight-bold"><%= VerificationList["Name "] %></h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <h6>Application ID : <%= VerificationList["Application Id"] %></h6> 
        </div>
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
            <h6>State : <%= VerificationList["State "]  %></h6>
        </div>
        
        
    </div>
    
    
</div>


<div class="container pt-3">
    <div class="row  text-center">
        <div class="card col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body text-center">
                <div class = "table-responsive">
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Verification Step</th>
                            <th scope="col">Status</th>
                            <th scope="col">Check Again</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <%  var i = 0;
                                for (var key in VerificationList) {
                                    if (VerificationList.hasOwnProperty(key)) { 
                                        i = i +1;
                                        if (i > 3 )
                                        {

                                        %>                   
                                
                            <tr>
                                <td><%= i-3 %></td>
                                <td><%= key %></td>
                                <% if (VerificationList[key] == "Verified"){ %>
                                    <td  style="color: green;"><b><%= VerificationList[key] %></b></td>
                                <% } else if (VerificationList[key]== "Failed") { %>
                                    <td  style="color: orange;"><b><%= VerificationList[key] %></b></td>
                                <% } else if (VerificationList[key] == "Error") { %>
                                    <td  style="color: red;"><b><%= VerificationList[key] %></b></td>
                                <% } %>
                                <td><button class="btn btn-success" type="submit">Check </button></td>
                            </tr>
                            <% }}} %>
                        
                        </tbody>
                    </table>
                    <hr>
                    <div>
                        <button class="btn btn-primary" type="submit">Download Report </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
<%- include ../partials/footer -%>